body{
    background-color: rgb(219, 125, 156);
    text-align: center;
}

.titulo_da_pagina{
    font-size: 100px ;
    font-style: italic;
    display: flex;
    justify-content: center;
 
}
.subtitulo_da_pagina{
    font-size: 30px ;
    font-style: italic;
    display: flex;
    justify-content: center;
    font-size: 30px ;
    background-color: rgb(226, 43, 171);
    
 
}
.paragrafo_do_texto{
    font-size: 23px ;
    font-style: italic;
    display: block;
   
   
}
header > div{
    display: flex;
   background-color: rgb(248, 157, 228);
    margin-top: 20px;
 
   
}
header img{
    justify-content: flex-start;
    align-items: flex-start;
}
.info{
    padding: 0px 10px 0px 200px; 
    font-size: 20px;

}
.descricao{
    font-size: 20px ;
   
}
.descricao h2{
    background-color: rgb(226, 43, 171);
}

.rodape {
    background-color: rgb(226, 43, 171);
    color: #0f0000;
    padding: 20px;
}


.hobbie{
    font-size: 20px ;
   
}
.hobbie h2{
    background-color: rgb(226, 43, 171);
}